.wrapper{
    background: white;
   
    margin-right: 15rem;
    margin-left: 15rem;


    
}
.wrapper>img{
    margin:0;
    margin-right: 50rem;
    padding: 30px;
    
    
}
.info>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-align: left;
    color: #242320;
    padding-left: 15px;
}
.cover{
    position: relative;
}

.cover>img{
    width: 100%;
    height: auto;
    
}
.cover-text{
    position: absolute;
    top: 0;
    color: white;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
}
.cover-text>h1{
    font-weight: bold;
}

.btn{
    padding: 10px;
    margin-top: 18px;
    /* margin-left: 50px; */
    background-color: red;
    border-radius: 50px;
    color: white;
    width: 150px;
    box-shadow: white;
    border-color: white;
    font-size: 16px;
    
}

.bottom>p{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-align: left;
    color: #242320;
    padding-left: 15px;
    padding-right: 15px;
}
.medias{
    
    
    gap: 1px;
    display: flex;
    align-items: left;
    justify-content: left;
    padding-bottom: 20px;
    
}

.insta{
    
    cursor: pointer; 
   


}
.insta>img{
    width: 20px;
    background-color: #000;
    padding: 10px;
    border-radius: 50px;
}


.fb{
    
    cursor: pointer; 
   
    

}
.fb>img{
    width: 20px;
    background-color: #000;
    padding: 10px;
    border-radius: 50px;
}


.twtr{
    
    cursor: pointer; 
  
     

}
.twtr>img{
    width: 20px;
    background-color: #000;
    padding: 10px;
    border-radius: 50px;
}


.name{
    font-size: 16px;
    cursor: pointer;
}
.footer{
    font-size: 12px;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 30px;
}